
nav{
  text-align: center;
}

.container{
  width: 95vw;
  min-height: 88vh;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 70%;
  border: 0.05rem solid black;
  border-radius: 0.5rem;
} 

.membersContainer{
  padding: 1rem;
  border-right: 0.05rem solid black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.messageContainer{
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: grid;
  grid-template-rows: 92% 8%;
}

.messageBox{
  margin: 0.5rem;
  overflow-y: auto;
}

.message{
  border: 0.05rem solid black;
  border-radius: 0.35rem;
  display: inline;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.left{
  float: left;
  clear: both;
}

.right{
  float: right;
  clear: both;
}

.send{
  text-align: center;
  padding: 0.5rem;
}

#send-container{
  display: flex;
  justify-content: center;
}

#messageInput{
  width: 80%;
  color: black;
  height: 2rem;
  float: left;
  background: 0;
  border: 0;
  outline: none;
  border-bottom: 0.05rem solid black;
  margin-bottom: 0.5rem;
}

#messageInput:focus{
  outline: none;
  box-shadow: none;
}

.btn{
  cursor: pointer;
  height: 2rem;
  width: 4.5rem;
  border: 0.1rem solid black;
  border-radius: 5rem;
  float: right;
}
